.tile {
  border: 1px solid #666666;
  background-color: #666688;
  margin: 5px;
  color: white;
  font-size: 12px;
  flex: 1 0 auto;
  position: relative;

  &:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
  }
}

.tile-selected {
  background-color: #FFD700;
  color: #000000;
}